.vscode/**
.gitmodules
.gitignore
.gitattributes
src/**
compiler-host/**
external/**
externals/**
scripts/**
.build/**
tsconfig.json
package-lock.json
out/**/*.map
bin/*.pas
bin/*.pdb
*.vsix
*.vsix-last_published
*.zip
